@charset "UTF-8";
body {
    border: dotted #FFF8F8;
    background-color: lavender;
}
h1 {
    color: #8A8ADF;
    -webkit-box-shadow: 0px 0px #E9E9E9;
    box-shadow: 0px 0px #E9E9E9;
}
body h1 {
}
img {
    margin: auto;
    display: block;
}
body h1 {
}
